基于本地大模型的招聘知识库问答系统.yml
app:
  description: '系统使用 Ollama 部署 deepseek-r1:7b 模型，通过 Dify 构建 RAG 知识库和对话流程，并使用 Flask
    封装 API 对外提供服务。


    在架构上，我将 AI 能力与业务接口解耦，由 Dify 负责检索增强生成和对话管理，Flask 作为服务层对接前端请求。'
  icon: 🤖
  icon_background: '#FFEAD5'
  icon_type: emoji
  mode: advanced-chat
  name: 基于本地大模型的招聘知识库问答系统
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/ollama:0.1.3@66e156c4f612964c131c49168882e78c2cdfe366879506b97ad855b23c5d6d98
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 20
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        sourceType: llm
        targetType: answer
      id: llm-answer
      source: llm
      sourceHandle: source
      target: answer
      targetHandle: target
      type: custom
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: knowledge-retrieval
      id: 1777126105402--1777126732067-target
      source: '1777126105402'
      sourceHandle: source
      target: '1777126732067'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: llm
      id: 1777126732067-source-llm-target
      source: '1777126732067'
      sourceHandle: source
      target: llm
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: 用户输入
        type: start
        variables: []
      height: 72
      id: '1777126105402'
      position:
        x: -37.52432604497676
        y: 287.964404506369
      positionAbsolute:
        x: -37.52432604497676
        y: 287.964404506369
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - '1777126732067'
          - result
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 10
        model:
          completion_params:
            temperature: 0.2
          mode: chat
          name: deepseek-r1:7b
          provider: langgenius/ollama/ollama
        prompt_template:
        - id: 5f130aca-58c6-430d-bc4a-ff0f0677a9fa
          role: system
          text: '你是一个严格的问答系统。


            【参考资料】

            {{#context#}}

            【用户问题】

            {{#sys.query#}}


            【规则】

            - 只能复制参考资料中的原句进行回答

            - 不允许改写

            - 不允许补充

            - 不允许使用任何已有知识

            - 如果找不到完全匹配的句子，返回：资料中没有相关信息


            【输出】

            只输出答案'
        selected: true
        title: LLM
        type: llm
        vision:
          enabled: false
      height: 87
      id: llm
      position:
        x: 574.8738767416278
        y: 256.6245842277085
      positionAbsolute:
        x: 574.8738767416278
        y: 256.6245842277085
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#llm.text#}}'
        selected: false
        title: 直接回复
        type: answer
        variables: []
      height: 102
      id: answer
      position:
        x: 956.8350791281675
        y: 244.56632577826667
      positionAbsolute:
        x: 956.8350791281675
        y: 244.56632577826667
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        dataset_ids:
        - Jry2LI/V9jIRiMd2biEY/4qBbScaouyeeBki34rWzCcqo1FyzOMY6NnziVGBvV1K
        multiple_retrieval_config:
          reranking_enable: false
          reranking_mode: weighted_score
          top_k: 4
          weights:
            keyword_setting:
              keyword_weight: 0.3
            vector_setting:
              embedding_model_name: bge-m3:latest
              embedding_provider_name: langgenius/ollama/ollama
              vector_weight: 0.7
            weight_type: customized
        query_attachment_selector: []
        query_variable_selector:
        - '1777126105402'
        - sys.query
        retrieval_mode: multiple
        selected: false
        title: 知识检索
        type: knowledge-retrieval
      height: 89
      id: '1777126732067'
      position:
        x: 280.75723578424174
        y: 263.4886064928434
      positionAbsolute:
        x: 280.75723578424174
        y: 263.4886064928434
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: 176.16492087183246
      y: 115.43367422173333
      zoom: 1
  rag_pipeline_variables: []
